header {
  position: relative;
  z-index: 99;
}

nav {
  @apply bg-gradient-to-r from-transparent to-shadowc fixed top-0 left-0 flex items-center justify-center gap-5 w-full h-[72px] text-white;


  padding: 0 20px;
  translate: 0 -72px;
  box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
  transition: 0.3s;
}

nav.visible {
  top: 0;
  translate: 0;
}

nav a {
  color: inherit;
  text-decoration: none;
  transition: 0.3s;
  font-size: 16px;
  font-weight: 600;
}

nav a:hover {
  color: #33434F
}

nav span {
  margin-right: 10px;
}


