.header {

    @apply smd:flex  smd:justify-between  smd:items-center smd:px-14 smd:py-3 text-solitude smd:h-20  bg-gradient-to-r from-shadowc to-arsenic ;
    transition: 0.35s ;

}

/*
.header {
    @apply smd:flex smd:justify-between smd:items-center smd:px-14 smd:py-3 smd:bg-gradient-to-r smd:from-solitude smd:to-purple-50 smd:text-arsenic bg-gradient-to-r from-shadowc to-arsenic text-solitude;
    transition: .3s;
}
*/
.scrolledDown {
    @apply  smd:h-14 fixed top-0 left-0 right-0 z-50 ;

}



.isActive {
    @apply relative transition-all;

}


.isActive::after {

    @apply absolute -bottom-1 left-0 smd:w-full w-full h-0.5 bg-pastel-cyan shadow-md;
    animation: fadeIn .7s;
    content: "";

}
