.header {
  @apply smd:flex  smd:justify-between  smd:items-center smd:px-14 smd:py-3 text-solitude smd:h-20  bg-gradient-to-r from-shadowc to-arsenic  duration-300 sticky top-0 z-50;
}

.scrolledDown {
  @apply smd:h-14 bg-gradient-to-t from-shadowc to-arsenic;
}

.isActive {
  @apply relative transition-all;
}

.isActive::after {
  @apply absolute -bottom-1 left-0 smd:w-full w-full h-0.5 bg-pastel-cyan shadow-md;
  content: "";
  animation: animacion ease .7s;
}

@keyframes animacion {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
