  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

html {
    font-family: 'Roboto', sans-serif;
    @apply scroll-smooth;    
}


.bg-hero {
  background-image: url('/bg-dark.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}


section {
    padding: 0 10%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}


  .light-circle {
    @apply pointer-events-none fixed inset-0 z-30 transition duration-300 lg:absolute;

  }

  
  @media (max-width: 768px) { 
    .bg-hero {
      background-image: url("/bg-dark-w800.jpg");
      background-position: center;
    }
    
  
  }
