  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

html {
    font-family: 'Roboto', sans-serif;
    @apply scroll-smooth;    
    scrollbar-width: none;

}


body {
  @apply flex min-h-full flex-col bg-gray-900 text-gray-100 antialiased;
}

h2 {
  text-wrap: balance;
}

.britny {
  opacity: .7;
 transform: translateY(-119.119px);
}

  .light-circle {
    @apply pointer-events-none fixed inset-0 z-30 transition duration-300 lg:absolute;

  }
