  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

html {
    @apply bg-gradient-to-r from-solitude to-purple-50 scroll-smooth;
    font-family: 'Roboto', sans-serif;
}
section {
    padding: 0 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}


  .light-circle {
    @apply pointer-events-none fixed inset-0 z-30 transition duration-300 lg:absolute;

  }